@model LVSA.Newsletter.Presentation.ViewModels.EnviaViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Envia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Tipo de envio</label>
            <div class="col-md-10">
                <div>
                    <label>
                        <input type="radio" value="Text/SMS" @(ViewBag.Tipo == "Text/SMS" ? "checked" : "") name="Tipo" class="ace" />
                        <span class="lbl"> Text/SMS</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" value="E-mail" @(ViewBag.Tipo == "E-mail" ? "checked" : "") name="Tipo" class="ace" />
                        <span class="lbl"> E-mail</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Servidor</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ServidorId, new SelectList(ViewBag.ServidorSet, "Id", "Nome", "Funcao", Model?.ServidorId), "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServidorId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Remetente</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RemetenteId, new SelectList(ViewBag.RemetenteSet, "Id", "Nome", Model?.RemetenteId), "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RemetenteId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group sms" style="display:none;">
            <label class="control-label col-md-2">Text/SMS</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.SMS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SMS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mail" style="display:none;">
            <label class="control-label col-md-2">Assunto</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Assunto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mail" style="display:none;">
            <label class="control-label col-md-2">Corpo e-mail</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Lista de destinatários</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Arquivo, new { @class = "", @type = "file" })
                @Html.ValidationMessageFor(model => model.Arquivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="submit" formaction="@Url.Action("SMS")" class="btn btn-primary sms">Enviar Text/SMS</button>
        <button type="submit" formaction="@Url.Action("Mail")" class="btn btn-primary mail">Enviar E-mail</button>
    </div>


}


@section scripts {
    <script>
        $(function () {

            $('select[name="ServidorId"]')
                    .find('optgroup').hide();



            $('input[name="Tipo"]').change(function () {

                $('select[name="ServidorId"]').val('');

                $('select[name="ServidorId"]')
                    .find('optgroup[label="' + $(this).val() + '"]').show();

                $('select[name="ServidorId"]')
                    .find('optgroup:not([label="' + $(this).val() + '"])').hide();

                if ($(this).val() == "Text/SMS") {
                    $('.form-group.sms').show();
                    $('.form-group.mail').hide();
                }
                else if ($(this).val() == "E-mail") {
                    $('.form-group.mail').show();
                    $('.form-group.sms').hide();
                }
                else {
                    $('.form-group.mail').hide();
                    $('.form-group.sms').hide();
                }
            });

            $('input[name="Tipo"]:checked').trigger('change');

        });
    </script>
}
